{{ define "index" }}
    <!DOCTYPE html>
    <html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>

        <title>FleetCmdr</title>
    </head>
    <body>
    Hello
    <button hx-on="click" hx-target="#leftNav" hx-get="/api/v1/parts/leftNav">Click me!</button>
    <div id="leftNav"></div>
    </body>
    </html>
{{end}}