{{ define "base" }}
    Hello
        <ul>
        {{ range .leftNav }}
            <li hx-get="/api/v1/parts/agent/{{ .ID }}" hx-target="#main-content" hx-on="click">{{ .Name }}</li>
        {{ end }}
        </ul>
{{ end }}

{{ define "leftNav" }}
<ul>
    <li>Stuff</li>
    <li>Things!</li>
</ul>

{{end}}